
<%= form_for(@person, html: { multipart: true }, builder: TidyFormBuilder) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <%= form.text_field :name, required: true%>

  <%= form.text_field :secret, required: true%>

  <%= form.country_select :country, required: true %>

 <%= form.text_field :email %>

  <%= form.text_field :description %>

  <%= form.check_box :can_send_email %>

  <%= form.text_field :graduation_year %>

 <%= form.text_field :boyd_temperature %>
 <%= form.text_field :price %>
 <%= form.text_field :birthday %>
 <%= form.time_select :favorite_time %>
   <%= form.file_field :photo %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
